<div id="pulsador">
<img id="imagenPulsador" src="./icons/boton-rojo.png">
</div>
<div class="bar" id="barraPrincipal">
	<div class="boxTop">
		<div class="box-image"><img src="./icons/help_balloon.png"></div>
		<div class="box-text">¡AYUDA!</div>
	</div>
	<div class="boxTop">
		<div class="box-image"><img src="./icons/accept.png"></div>
		<div class="box-text">SI</div>
	</div>
	<div class="boxTop">
		<div class="box-image"><img src="./icons/delete.png"></div>
		<div class="box-text">NO</div>
	</div>
	<div class="boxSelected" style="visibility:hidden;">
		<div class="box-image"><img src="./icons/delete.png"></div>
		<div class="box-text"></div>
	</div>
	<div class="boxSelected" id="previewBox">
		<div class="box-image"><img src="./icons/delete.png"></div>
		<div class="box-text">NO</div>
	</div>
</div>
<div id="barraSecundaria">
	<div class="bar">
	<hr color="white">
		<div class="box">
			<div class="box-image"><img src="./icons/back2.png"></div>
			<div class="box-text">CANCELAR</div>
		</div>
		<div class="box">
			<div class="box-image"><img src="./icons/happy.png"></div>
			<div class="box-text">FELIZ</div>
		</div>
		<div class="box">
			<div class="box-image"><img src="./icons/lol.png"></div>
			<div class="box-text">ANIMADO</div>
		</div>
		<div class="box">
			<div class="box-image"><img src="./icons/sad.png"></div>
			<div class="box-text">TRISTE</div>
		</div>
		<div class="box">
			<div class="box-image"><img src="./icons/tired.png"></div>
			<div class="box-text">CANSADO</div>
		</div>
	</div>
	<div class="bar">
	<div class="box">
			<div class="box-image"><img src="./icons/crying.png"></div>
			<div class="box-text">LLORANDO</div>
		</div>
		<div class="box">
			<div class="box-image"><img src="./icons/angry.png"></div>
			<div class="box-text">ENFADADO</div>
		</div>
		<div class="box">
			<div class="box-image"><img src="./icons/love.png"></div>
			<div class="box-text">ENAMORADO</div>
		</div>
		<div class="box">
			<div class="box-image"><img src="./icons/cool.png"></div>
			<div class="box-text">CONFIADO</div>
		</div>
		<div class="box">
			<div class="box-image"><img src="./icons/wink.png"></div>
			<div class="box-text">GUIÑO</div>
		</div>
	</div>
	<div class="bar">
	<div class="box">
			<div class="box-image"><img src="./icons/question.png"></div>
			<div class="box-text">CONFUSO</div>
	</div>
	</div>
</div>