<div id="pulsador" style="visibility:visible;">
<img id="imagenPulsador" src="./icons/boton-rojo.png">
</div>
<div class="bar" id="barraPrincipal">
	<div class="boxTop">
		<div class="box-image"><img src="./icons/help_balloon.png"></div>
		<div class="box-text">¡AYUDA!</div>
	</div>
	<div class="boxTop">
		<div class="box-image"><img src="./icons/accept.png"></div>
		<div class="box-text">SI</div>
	</div>
	<div class="boxTop">
		<div class="box-image"><img src="./icons/delete.png"></div>
		<div class="box-text">NO</div>
	</div>
	<div class="boxSelected" style="visibility:hidden;">
		<div class="box-image"><img src="./icons/delete.png"></div>
		<div class="box-text">NO</div>
	</div>
	<div class="boxSelected" id="previewBox">
		<div class="box-image"><img src="./icons/delete.png"></div>
		<div class="box-text">NO</div>
	</div>
</div>
<div id="barraSecundaria">
	<div class="bar">
	<hr color="white">
		<div class="box">
			<div class="box-image"><img src="./icons/happy.png"></div>
			<div class="box-text">EMOCIONES</div>
		</div>
		<div class="box">
			<div class="box-image"><img src="./icons/female_male_users.png"></div>
			<div class="box-text">PERSONAS</div>
		</div>
		<div class="box">
			<div class="box-image"><img src="./icons/calculator.png"></div>
			<div class="box-text">MATEMATICAS</div>
		</div>
		<div class="box">
			<div class="box-image"><img src="./icons/sun_clouds_rain.png"></div>
			<div class="box-text">TIEMPO</div>
		</div>
		<div class="box">
			<div class="box-image"><img src="./icons/phone_book_edit.png"></div>
			<div class="box-text">TRABAJO</div>
		</div>
	</div>
	<div class="bar">
	<div class="box">
			<div class="box-image"><img src="./icons/play.png"></div>
			<div class="box-text">MULTIMEDIA</div>
		</div>
		<div class="box">
			<div class="box-image"><img src="./icons/basketball.png"></div>
			<div class="box-text">DEPORTES</div>
		</div>
	<div class="box">
			<div class="box-image"><img src="./icons/games.png"></div>
			<div class="box-text">JUEGOS</div>
		</div>
		<div class="box">
			<div class="box-image"><img src="./icons/laptop.png"></div>
			<div class="box-text">INFORMATICA</div>
		</div>		
	</div>
</div>
<div id="menu">
	<a href="">Option One</a><br/>
	<a href="">Option Two</a>
</div>