@CHARSET "ISO-8859-1";

.bar {
	clear: both;
	width: 100%;
}

.box {
	width: 120px;
	height: 120px;
	border-style: solid;
	border-color: red;
	border-width: 3px;
	background-color: #E8E8E8;
	text-align: center;
	margin: 30px;
	float: left;
}

.boxTop {
	width: 120px;
	height: 120px;
	border-style: solid;
	border-color: #DF7401;
	border-width: 3px;
	background-color: #E8E8E8;
	/* 	background-color: #2ECCFA; */
	text-align: center;
	margin: 30px;
	float: left;
}

.boxSelected {
	width: 120px;
	height: 120px;
	border-style: solid;
	border-color: #DF7401;
	border-width: 3px;
	background-color: #2ECCFA;
	text-align: center;
	margin: 30px;
	float: left;
	visibility: hidden;
	margin-right: 0px;
}

.box-image {
	width: 120px;
	height: 80px;
	margin: 0px auto;
	padding-top: 10px;
}

.box-text {
	font-family: serif;
	font-size: 18px;
	font-stretch: wider;
	font-weight: bolder;
}

#pulsador {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: url("./icons/bg.png") repeat;
	z-index: 2;
	text-align: center;
	visibility: hidden;
	
}

#imagenPulsador {
	position: relative;
	margin: auto;
	top: 45%;
	display: block;
	
}