<div id="pulsador">
<img id="imagenPulsador" src="./icons/boton-rojo.png">
</div>
<div class="bar" id="barraPrincipal">
	<div class="boxTop">
		<div class="box-image"><img src="./icons/help_balloon.png"></div>
		<div class="box-text">¡AYUDA!</div>
	</div>
	<div class="boxTop">
		<div class="box-image"><img src="./icons/accept.png"></div>
		<div class="box-text">SI</div>
	</div>
	<div class="boxTop">
		<div class="box-image"><img src="./icons/delete.png"></div>
		<div class="box-text">NO</div>
	</div>
	<div class="boxSelected" style="visibility:hidden;">
		<div class="box-image"><img src="./icons/delete.png"></div>
		<div class="box-text"></div>
	</div>
	<div class="boxSelected" id="previewBox">
		<div class="box-image"><img src="./icons/delete.png"></div>
		<div class="box-text">NO</div>
	</div>
</div>
<div id="barraSecundaria">
	<div class="bar">
	<hr color="white">
		<div class="box">
			<div class="box-image"><img src="./icons/back2.png"></div>
			<div class="box-text">CANCELAR</div>
		</div>
		<div class="box">
			<div class="box-image"><img src="./icons/1.png"></div>
			<div class="box-text">1</div>
		</div>
		<div class="box">
			<div class="box-image"><img src="./icons/2.png"></div>
			<div class="box-text">2</div>
		</div>
		<div class="box">
			<div class="box-image"><img src="./icons/3.png"></div>
			<div class="box-text">3</div>
		</div>
		<div class="box">
			<div class="box-image"><img src="./icons/4.png"></div>
			<div class="box-text">4</div>
		</div>
	</div>
	<div class="bar">
	<div class="box">
			<div class="box-image"><img src="./icons/5.png"></div>
			<div class="box-text">5</div>
		</div>
		<div class="box">
			<div class="box-image"><img src="./icons/6.png"></div>
			<div class="box-text">6</div>
		</div>
		<div class="box">
			<div class="box-image"><img src="./icons/7.png"></div>
			<div class="box-text">7</div>
		</div>
		<div class="box">
			<div class="box-image"><img src="./icons/8.png"></div>
			<div class="box-text">8</div>
		</div>
		<div class="box">
			<div class="box-image"><img src="./icons/9.png"></div>
			<div class="box-text">9</div>
		</div>
	</div>
	<div class="bar">
	<div class="box">
			<div class="box-image"><img src="./icons/0.png"></div>
			<div class="box-text">0</div>
	</div>
	<div class="box">
			<div class="box-image"><img src="./icons/+.png"></div>
			<div class="box-text">+</div>
	</div>
	<div class="box">
			<div class="box-image"><img src="./icons/-.png"></div>
			<div class="box-text">-</div>
	</div>
	<div class="box">
			<div class="box-image"><img src="./icons/mult.png"></div>
			<div class="box-text">x</div>
		</div>
	<div class="box">
			<div class="box-image"><img src="./icons/div.png"></div>
			<div class="box-text">/</div>
		</div>
	<div class="box">
			<div class="box-image"><img src="./icons/=.png"></div>
			<div class="box-text">=</div>
		</div>
	</div>
	</div>