<div id="pulsador">
<img id="imagenPulsador" src="./icons/boton-rojo.png">
</div>
<div class="bar" id="barraPrincipal">
	<div class="boxTop">
		<div class="box-image"><img src="./icons/help_balloon.png"></div>
		<div class="box-text">¡AYUDA!</div>
	</div>
	<div class="boxTop">
		<div class="box-image"><img src="./icons/accept.png"></div>
		<div class="box-text">SI</div>
	</div>
	<div class="boxTop">
		<div class="box-image"><img src="./icons/delete.png"></div>
		<div class="box-text">NO</div>
	</div>
	<div class="boxSelected" style="visibility:hidden;">
		<div class="box-image"><img src="./icons/delete.png"></div>
		<div class="box-text"></div>
	</div>
	<div class="boxSelected" id="previewBox">
		<div class="box-image"><img src="./icons/delete.png"></div>
		<div class="box-text">NO</div>
	</div>
</div>
<div id="barraSecundaria">
	<div class="bar">
	<hr color="white">
		<div class="box">
			<div class="box-image"><img src="./icons/back2.png"></div>
			<div class="box-text">CANCELAR</div>
		</div>
		<div class="box">
			<div class="box-image"><img src="./icons/male_user.png"></div>
			<div class="box-text">HOMBRE</div>
		</div>
		<div class="box">
			<div class="box-image"><img src="./icons/female_user.png"></div>
			<div class="box-text">MUJER</div>
		</div>
		<div class="box">
			<div class="box-image"><img src="./icons/user.png"></div>
			<div class="box-text">YO</div>
		</div>
		<div class="box">
			<div class="box-image"><img src="./icons/users.png"></div>
			<div class="box-text">NOSOTROS</div>
		</div>
	</div>
	<div class="bar">
	<div class="box">
			<div class="box-image"><img src="./icons/user_comment.png"></div>
			<div class="box-text">HABLO</div>
		</div>
		<div class="box">
			<div class="box-image"><img src="./icons/user_accept.png"></div>
			<div class="box-text">ACEPTO</div>
		</div>
		<div class="box">
			<div class="box-image"><img src="./icons/users_comments.png"></div>
			<div class="box-text">HABLAMOS</div>
		</div>
		<div class="box">
			<div class="box-image"><img src="./icons/male_user_comment.png"></div>
			<div class="box-text">HABLAR</div>
		</div>
		<div class="box">
			<div class="box-image"><img src="./icons/male_user_help.png"></div>
			<div class="box-text">PREGUNTAR</div>
		</div>
	</div>
	<div class="bar">
	<div class="box">
			<div class="box-image"><img src="./icons/edit_male_user.png"></div>
			<div class="box-text">RESPONDER</div>
	</div>
	</div>
</div>