<div id="pulsador">
<img id="imagenPulsador" src="./icons/boton-rojo.png">
</div>
<div class="bar" id="barraPrincipal">
	<div class="boxTop">
		<div class="box-image"><img src="./icons/help_balloon.png"></div>
		<div class="box-text">¡AYUDA!</div>
	</div>
	<div class="boxTop">
		<div class="box-image"><img src="./icons/accept.png"></div>
		<div class="box-text">SI</div>
	</div>
	<div class="boxTop">
		<div class="box-image"><img src="./icons/delete.png"></div>
		<div class="box-text">NO</div>
	</div>
	<div class="boxSelected" style="visibility:hidden;">
		<div class="box-image"><img src="./icons/delete.png"></div>
		<div class="box-text"></div>
	</div>
	<div class="boxSelected" id="previewBox">
		<div class="box-image"><img src="./icons/delete.png"></div>
		<div class="box-text">NO</div>
	</div>
</div>
<div id="barraSecundaria">
	<div class="bar">
	<hr color="white">
		<div class="box">
			<div class="box-image"><img src="./icons/back2.png"></div>
			<div class="box-text">CANCELAR</div>
		</div>
		<div class="box">
			<div class="box-image"><img src="./icons/sun.png"></div>
			<div class="box-text">SOLEADO</div>
		</div>
		<div class="box">
			<div class="box-image"><img src="./icons/sun_clouds.png"></div>
			<div class="box-text">NUBLADO</div>
		</div>
		<div class="box">
			<div class="box-image"><img src="./icons/sun_clouds_rain.png"></div>
			<div class="box-text">LLUVIA</div>
		</div>
		<div class="box">
			<div class="box-image"><img src="./icons/sun_clouds_thunder.png"></div>
			<div class="box-text">RAYOS</div>
		</div>
	</div>
	<div class="bar">
	<div class="box">
			<div class="box-image"><img src="./icons/sun_clouds_thunder_rain.png"></div>
			<div class="box-text">TORMENTA</div>
		</div>
		<div class="box">
			<div class="box-image"><img src="./icons/clouds.png"></div>
			<div class="box-text">NUBLADO</div>
		</div>
		<div class="box">
			<div class="box-image"><img src="./icons/clouds_rain.png"></div>
			<div class="box-text">LLUVIA</div>
		</div>
		<div class="box">
			<div class="box-image"><img src="./icons/clouds_snow.png"></div>
			<div class="box-text">NIEVE</div>
		</div>
		<div class="box">
			<div class="box-image"><img src="./icons/clouds_thunder.png"></div>
			<div class="box-text">RAYOS</div>
		</div>
	</div>
	<div class="bar">
	<div class="box">
			<div class="box-image"><img src="./icons/clouds_thunder_rain.png"></div>
			<div class="box-text">TORMENTA</div>
	</div>
	<div class="box">
			<div class="box-image"><img src="./icons/protection.png"></div>
			<div class="box-text">PARAGUAS</div>
		</div>
	</div>
	</div>