@CHARSET "ISO-8859-1";

#box {
	width: 100px;
	height: 100px;
	border-style: solid;
	border-color: red;
	border-width: 3px;
	background-color: gray;
	padding-left: 10px;
	padding-bottom: 10px; 
	padding-right: 10px;
	padding-top: 10px;
	text-align: center;
	
}